node_modules/
vendor/
tmp/
storage/*
!storage/.gitkeep

.DS_Store
Thumbs.db
.vscode/

.env
.env.*
*.sql
*.zip
*.rar
*.tar
*.gz
*.sql
/api/v1/logs/
/uploads/
/deposit-data/
/withdrawal-data/
*.sql.bak.*
config.php
